<div class="container">
  <div class="jumbotron">
    <h1 class="display-2"> About Our team</h1>
    <p class="lead">Designed by Team Name!!</p>
    <hr class="my-4">
    <ul class="lead">
      <h4 class="display-7">Team members</h4>
      <li>Vu Tran</li>
      <li>Hiep Do</li>
      <li>Van Do</li>
    </ul>
    <p class="lead">This is a simple web application being 
      designed as a final project for the CS 2320. We've used 
      a lot of web design technology in this project such as 
      HTML5, CSS3, Javascript, jQuery and Bootstrap which are 
      one of the most common and advantage technology in Web 
      development industry.
    </p>
    <p class="lead">
       Using the Mean-stack
    </p>
    <ul class="lead">
      <li>M - MongoDb   : Database</li>
      <li>E - Express   : Back-end Framwork</li>
      <li>A - Angular 4 : the Front-end framwork</li>
      <li>N - Node.js</li>
    </ul>
  </div>
</div>

<!-- <div class="col-12 footer" 
style="bottom: 
    0px;width: 100%;
    height: 10%;
    position: fixed;"
>
  <p>
      © 2017. All rights reserved.
  </p>
</div> -->