.jumbotron{
    margin-top: 2%;
    text-align: center;
    background: #000;
    border: 1px solid white;
    border-radius: 10px;
}
hr{
    border: solid .2px rgb(243, 239, 239);
}
p{
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
