<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
    style="
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;">

    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor03"
      aria-controls="navbarColor03"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" routerLink='welcome' >
      Movie App
    </a>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active current">

          <a class="nav-link" routerLink='/homePage' id="navbar-expaned">
            <i class="fa fa-home" aria-hidden="true"></i> 
            Home 
            <!-- <span class="sr-only">(current)</span> -->
          </a>

        </li>

        <li class="nav-item" routerLinkActive="active current">

          <a class="nav-link" routerLink='/schedule' id="navbar-expaned">
            <i class="fa fa-calendar" aria-hidden="true"></i> 
            Schedule
          </a>

        </li>

        <li class="nav-item" routerLinkActive="active current">

          <a class="nav-link" routerLink='/contact' id="navbar-expaned">
            <i class="fa fa-link" aria-hidden="true"></i> 
            Contact
          </a>

        </li>

        <li class="nav-item" routerLinkActive="active current" >

          <a class="nav-link" routerLink='/about' id="navbar-expaned">
            <i class="fa fa-info-circle" aria-hidden="true"></i> 
            About
          </a>

        </li>
        
      </ul>

      <div class="pos-rel">
          <ul class="nav navbar-nav navbar-left">
              <form class="form-inline">
                <fieldset>
                    <div class="wrapper">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input [(ngModel)]="movieSearch"
                        name="movieSearch"
                        id="navSearch"
                        class="form-control mr-sm-2"
                        type="text"
                        placeholder="Search movie..."
                        autocomplete="off"
                        (keyup) = "onKeyPress($event)"
                        (click) = "onfocus()"
                        (blur) = "onblur()" >
                    </div>
                </fieldset>
              </form>

              <li class="nav-item" routerLinkActive="active current">
                <a class="nav-link" routerLink='/list'><i class="fa fa-heart-o" aria-hidden="true"></i> My Favorite</a>
              </li>
          </ul>

          <div *ngIf="dropDown" class="container dropdown-content" >
            <div class="listContents" *ngFor = 'let list of listsSearch'>
                <a class="container" [routerLink]="['/detail',list.imdbID]" (click) = "onfocus()">
                  <div>
                    <img class="img" src="{{list.Poster}}">
                    {{list.Title}}
                  </div>
                  <small>{{list.Year}}</small>
                </a>
            </div>
          </div>

      </div>

    </div>
</nav>
