.container {
    margin: 20px auto;
    position: static;
    font-family: fantasy;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.2);
    height: stretch;
    color: white;
}
h2 {
    padding-top: 4%;
    margin-left: 5%;
    /*background: -webkit-linear-gradient(#eee, #333);*/
    background: -webkit-linear-gradient(#ed4264, #FFEDBC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
table {
    border-spacing: 25px 0px;
    border-collapse: separate;
    border: none;
    width: 80%;
    height: 28vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 6%;
    padding: 5px;
    word-spacing: 3px;
}
td {
    width: 20%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
tr.second {
    height: 20vw;
}
th#first {
    background: rgba(85, 238, 62, 0.5);
    font-weight: bolder;
    text-shadow: 8px 8px 32px #2e3236;
}
th#second {
    background: rgba(60, 200, 235, 0.5);
    font-weight: bolder;
    text-shadow: 8px 8px 32px #2e3236;
}
th#third {
    background: rgba(197, 34, 170, 0.5);
    font-weight: bolder;
    text-shadow: 8px 8px 32px #2e3236;
}
.detail {
    background: bisque;
    color: black;
}
div.location {
    width: 80%;
    margin: 0 auto;
    margin-top: 55px;
    word-spacing: normal;
}
