<h1>{{list?.Title}}</h1>

<ul>
  <li>{{list?.Year}}</li>
  <li>{{list?.imdbID}}</li>
  <li>{{list?.Released}}</li>
  <li>{{list?.Runtime}}</li>
  <li>{{list?.Genre}}</li>
  <li>{{list?.Writer}}</li>
  <li>{{list?.Title}}</li>
  <li>{{list?.Actors}}</li>
  <li>{{list?.Plot}}</li>
  <li>{{list?.Language}}</li>
  <li>{{list?.Country}}</li>
  <li>{{list?.Awards}}</li>
</ul>

Title: String;
Year: String;
imdbID: String;
Type: String;
Poster: String;
Released: String;
Runtime: String;
Director: String;
Writer: String;
Actors: String;
Plot: String;
imdbRating: String;
DVD: String;
Production: String;