<!-- <div> -->
<div class="container rounded">
  <div class="jumbotron" style="background-color: black;">
    
      <h1 class="display-3" style="color: rgb(238, 229, 229);">{{list?.Title}}</h1>
      <hr>
      <p class="lead"> {{list?.Genre}} - 
        <small>{{list?.Released}}</small>
        <br>
        <small>{{list?.Country}}</small>
      </p>
      
  </div>
  <!-- </div> -->
<!-- </div> -->

<!-- <div class="container original-backgorund" > -->
  <div class="row">
    <div class="container jumbotron col-4">
      <img class="rounded" src="{{list?.Poster}}" width="100%">
      <p class="lead font-italic">
          <small>Duration: {{list?.Runtime}}</small>
          <br>
          <small>Language: {{list?.Language}}</small>
      </p>
      <button (click) ="addList()" routerLink='/list' class="btn btn-secondary">
        <i class="fa fa-heart" aria-hidden="true"></i> Add to my favorite</button>
    </div>

    <div class="container jumbotron col-8">
      <div class="row">
        <div class="col-2"></div>
          <div class="col-8">
            <p class="lead font-weight-bold font-italic">
              Actors 
              <br>   
              <small>{{list?.Actors}}</small>
            </p>

            <p class="lead font-weight-bold font-italic">Plot </p>
            <p class="lead">{{list?.Plot}}</p>
            <p class="lead font-weight-bold font-italic">Writen by
              <br>
              <small>{{list?.Writer}}</small>
            </p>
            <p class="lead font-weight-bold font-italic">Rated \ <small>{{list?.Rated}}</small></p>
            <p class="lead font-weight-bold font-italic">Awards  <small>{{list?.Awards}}</small></p>

            
          </div>
        <div class="col-2"></div>
      </div>
    </div> 
  </div>
</div>

