
<div class="container">
  <br><br>
  <h1 style="text-align: center; color: rgb(214, 202, 202);">Thank you for your Payment</h1>
  <br><br>
</div>
<div class="container form">  
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <br><br><br>
      <form #f="ngForm">
        <fieldset>
          <!-- Card Number -->
          <div class="form-group card">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <input
              type="text"
              class="form-control"
              placeholder="Card Number"
              style="padding-left: 35px;">
          </div>
      
          <!-- Cardholder -->
          <div class="form-group card">
            <i class="fa fa-id-card-o" aria-hidden="true"></i>
            <input
              type="text"
              class="form-control"
              placeholder="Carholder's Name"
              style="padding-left: 35px;">
          </div>
    
          <!-- expiry date -->
          <div class="form-group card">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <input
              type="month"
              class="form-control"
              placeholder="Expiry date"
              style="padding-left: 35px;">
          </div>
    
          <!-- Security code -->
          <div class="form-group card">
              <i class="fa fa-shield" aria-hidden="true"></i>
            <input
              type="number"
              class="form-control"
              placeholder="Security Code"
              style="padding-left: 35px;">
          </div>
          <br><br>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-secondary" 
            style="font-size: 20px; cursor: pointer;"
            (click)="onlick()">
            Check Out
            </button>
          </div>
        </fieldset>
        
      </form>
    </div>
    <div class="col-4 container ">
      <br><br><br>
      <div style="text-align: center; display: inline-block;">
        <i class="fa fa-3x fa-cc-mastercard" aria-hidden="true"></i>
        <i class="fa fa-3x fa-cc-visa" aria-hidden="true"></i>
        <i class="fa fa-3x fa-cc-paypal" aria-hidden="true"></i>
        <i class="fa fa-3x fa-apple" aria-hidden="true"></i>
        <i class="fa fa-3x fa-btc" aria-hidden="true"></i>
        <i class="fa fa-3x fa-amazon" aria-hidden="true"></i>
        <i class="fa fa-3x fa-cc-discover" aria-hidden="true"></i>
      </div>
      <br><br><br>
      <table>
        <tr>
          <td><h5 class="matchColor">Subtotal</h5></td>
          <td><h5 class="matchColor">$19.96</h5></td>
        </tr>

        <tr style="border-bottom: 1px white solid;">
          <td><h5 class="matchColor">Member discount</h5></td>
          <td><h5 class="matchColor">-$1.49</h5></td>
        </tr>

        <tr>
          <br><br>
        </tr>
        <tr style="margin-top: 3%;">
            <td><h4 class="matchColor">Total</h4></td>
            <td><h4 class="matchColor">$19.96</h4></td>
          </tr>
      </table>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<script src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>      