table {
    margin-top: 20px;
    width: 1050px;
    height: 540px;
    opacity: 0.15;
    margin-left: 150px;
}
iframe {
    width: 350px;
    height: 180px;
}
#smallest {
    background-color: rgb(0, 0, 0, 0.9);
    width:1237.5px;
    height: 590px;
    text-align: center;
    position: fixed;
    color: white;
    font-weight: bolder;
    padding-top: 180px;
    padding-right: 140px;
    padding-left: 200px;
    text-shadow: 8px 8px 32px #778899;
    display: inline-block;
    z-index: 2;
}
button {
    color: white;
    background-color: red;
    border: 0;
    border-radius: 5px;
    text-shadow: 6px 6px 28px black;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 3px 3px 2px grey;
}
button:hover {
    background: rgba(0, 0, 0, 0.7);
    color: red;
    box-shadow: 0 0 0 3px red;
}
