<body>
    <div class="container jumbotron" style="background: black;padding-top:1%;">
        <h1 class="display-3">New Release</h1>
        <p class="lead">LIMITED offer V-I-P member only $29.99/month</p>
        <hr class="my-4" style="border: 0.5px solid rgb(218, 214, 214);">
        <a class="btn btn-outline-secondary" style="font-size:1.25em;cursor: pointer;">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
           Register now!!
        </a>
      </div>
      <br><br>

    <div class="container1">
      <div class="carousel">
        <div class="item a"></div>
        <div class="item b"></div>
        <div class="item c"></div>
        <div class="item d"></div>
        <div class="item e"></div>
        <div class="item f"></div>
      </div>
    </div>
    <div class="next"><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></div>
  <div class="prev"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></div>


  <div class="container jumbotron" style="background-color:black;">
    
  </div>
</body>